<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gehatqbat@qbattvnat.pbz</string>
	<key>contactName</key>
	<string>Trung Dong Huynh</string>
	<key>description</key>
	<string>Provenance Notation (PROV-N): www.w3.org/TR/prov-n/</string>
	<key>name</key>
	<string>Provenance Notation</string>
	<key>uuid</key>
	<string>BD70B8E4-1EDE-4EF7-BB40-58FCF3CD2375</string>
</dict>
</plist>
